html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

/*Category block*/

.category-block {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.category-block__title {
    color: white;
}


/*Page container*/
.page-container {
    display: flex;
    justify-content: center
}

.page-container__link {
    margin: 0 2rem;
    width: 2rem;
    height: 2rem;
}

.page-container__link-next {
    content: url(../images/icons/right_arrow.png);
}

.page-container__link-previous {
    content: url(../images/icons/left_arrow.png);
}


.page-container__link_disabled {
    visibility: hidden;
}

.page-container__info-page {
    margin: 0;
}


/*Category card*/
.category-card {
    padding: 1rem;
    width: 10rem;
    margin: 0 2rem 0 2rem;
}

.category-card_selected {
    border: 3px solid;
    border-radius: 5px;
    border-color: gray;
}

.category-card__image {
    height: 10rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.category-card__name {
    height: 1.5rem;
    color: white;
}


/*Question card*/

.question-card {
    border: solid 1px #cdcdcd;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.question-card__body {
    margin: 1.5rem 1.5rem 1rem 1.5rem;
}

.question-card__title {
    text-decoration: none;
    color: black;
}

.question-card__last-updated {
    margin: 0 0 0.5rem 0;
}

.question-card__category {
    display: flex;
    justify-content: center;
}

    .question-card__category > h1 {
        color: white;
    }

.question-card__tags {
    margin: 0.7rem 0 1.5rem 0;
}

.question-card__tag {
    border: solid 1px #cdcdcd;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    padding: 0.25rem;
}

/*Question details*/

.question-details__header {
    display: flex;
}

.question-details__tags {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0.4rem 1rem;
}


.question-details__tag {
    border: solid 1px #cdcdcd;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    padding: 0.5rem 1rem;
    display: inline-block;
}


/*Test card*/
.test-card {
    border: solid 1px #cdcdcd;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    margin: 1rem;
}

.test-card_selected {
    background-color: lawngreen;
}

.test-card__name {
    padding: 1rem;
}

/*Test*/
.test__start {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

.test__start-name-conatainer {
    text-align: center;
}

.test__start-btn-conatainer {
    margin-top: 2rem;
}

.test__start-btn {
    padding: 2rem;
    margin-top: 3rem;
}

.test__start-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

.test__question-list {
    width: 50%;
    margin: 0 auto;
}

.test__show-answer-btn {
    width: 100%;
    padding: 1rem 0;
    margin-top: 3rem;
}

.test__finish-btn-container{
    display: flex;
    justify-content: center
}

.test__finish-btn {
    width: 30%;
    margin-top: 5rem;
}

.test__answer-btns {
    justify-content: space-around;
}

.test__answer-btn {
    padding: 1rem 4rem;
}

.test__end-correct {
    color: forestgreen;
}

.test__end-wrong {
    color: red;
}


/*Tags*/

.tag-list {
    display: flex;
    justify-content:start;
    margin-bottom:3rem;
}

.tag-list__item {
    display: flex;
    justify-content: space-around;
    border: solid 1px #cdcdcd;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    padding: 0.5rem 1rem;
    margin: 0.3rem;
}

.tag-list__item_selected {
    border: solid 3px green;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.tag-list__item-delete-btn {
    background: url(../images/icons/red_cross.png) no-repeat;
    background-size: 100%;
    border: none;
    width: 1rem;
    height: 1rem;
    margin-left: 1.5rem;
}